Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.7.10
Tempita==0.5.2
Twisted==14.0.1
buildbot==0.8.9
buildbot-slave==0.8.9
decorator==3.4.0
pysqlite==2.6.3
python-dateutil==1.5
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
zope.interface==4.1.1